@charset "utf-8";
/* CSS Document */

/* Start of text fonts */

body {
font-family: "abril-display", serif;
font-weight: 400;
font-style: normal;
color: #FFFBF1
}

h1 {
font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: italic;
color: #FFFBF1
}

h2 {
font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: italic;
color: #58765d
}

h3 {
font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: italic;
color: #58765d
}

h4 {
font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: italic;
color: #58765d
}

h5 {
font-family: "ivypresto-display", serif;
font-weight: 400;
font-style: italic;
color: #FFFBF1
}

/* End of text fonts */

/* Start of section containers */
.section-container-green {
  background-color: #58765D;
  padding: 5vw; /* Responsive padding based on screen width */
  margin-bottom: 0; /* '0' doesn't need 'px' */
}

.section-container-light {
  background-color: #FFFBF1;
  padding: 5vw;
  margin-bottom: 0;
}

.icon {
  width: 30vw; /* 30% of viewport width */
  max-width: 150px; /* So it doesn’t get too huge on large screens */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
  margin-bottom: 1rem;
}
